body {
  background-blend-mode: lighten;
  background-color: papayawhip;
  background-size: cover;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
  color:black;
}

h2 {
  font-size: large;
  margin-bottom: 20px;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  background-color: lightblue;
  padding: 10px;
  margin: 5px;
  width: 300px;
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app {
  padding: 0.5em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: rgba(90, 90, 90, .65);
  color: #fff;
  text-decoration: none;
  min-height: 2.3em;
}

.app:hover {
  opacity: 70%;
}

.app-icon {
  height: 30px;
}

.app-text {
  flex: 1;
  text-align: center;
}

.app-name {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 5px;
}